/* Start-Global-Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #f1f5f9;
}
*:focus {
    outline: none;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
section {
    padding-bottom: 15px;
    text-transform: capitalize;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
/* Mobile */
/* @media (max-width: 767px) {
    .container {
        width: 400px;
    }
} */
/* Small */
/* @media (min-width: 768px) {
    .container {
        width: 750px;
    }
}     */
/* Medium */
/* @media (min-width: 992px) {
    .container {
        width: 970px;
    }
} */
/* Large */
/* @media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
} */
/* End-Global-Rules */
/* Start-Variables */
:root {
    --main-color: #eeeeee;
    --text-color: #8f8888;
    --settings-main-color: #0075ff;
    --main-gap: 10px;
    --container-gap: 15px;
    --box-gap: 20px;
}
/* Start-Variables */
/* Start-Components */
.active {
    background-color: #f6f6f6;
}
.website-content {
    width: 85%;
    display: flex;
    flex-direction: column;
}
.heading {
    text-transform: capitalize;
    padding-bottom: 10px;
    width: fit-content;
    position: relative;
    margin: 15px 0 15px 15px;
}
.heading::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 85%;
    height: 3px;
    background-color: white;
}
.heading::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35%;
    height: 3px;
    background-color: black;
}
.box {
    width: calc((100% / 3) - 15px);
    background-color: white;
    position: relative;
    border-radius: 6px;
    padding: 15px;
}
.box-heading {
    font-size: 20px;
}
.box-heading + p {
    font-size: 11px;
    color: var(--text-color);
}
.p-box {
    background-color: white;
    position: relative;
    border-radius: 6px;
    padding: 15px;
}
.c-box {
    width: calc((100% / 5) - 15px);
    background-color: white;
    position: relative;
    border-radius: 6px;
}
.f-box {
    width: calc((100% / 5) - 15px);
    background-color: white;
    position: relative;
    border-radius: 6px;
    padding: 10px 10px 15px;
}
/* End-Components */
.page {
    min-height: 100vh;
    display: flex;
}
/* Start-Side-Bar */
aside {
    background-color: white;
    width: 15%;
    padding: 20px;
    text-transform: capitalize;
    box-shadow: 0 0 10px #ddd;
    z-index: 1;
}
aside .logo {
    margin: 0 auto;
    width: fit-content;
    padding: 0 10px 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid black;
    position: relative;
}
aside .logo a {
    color: black;
}
aside .logo::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: black;
    border: 3px solid white;
    border-radius: 50%;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
}
aside ul li {
    padding: 10px 0 10px 10px ;
    margin-bottom: 5px;
    border-radius: 6px;
    cursor: pointer;
}
aside ul li:hover {
    background-color: #f6f6f6;
}
aside ul li a {
    color: black;
}
aside ul li a i {
    margin-right: 10px;
}
/* End-Side-Bar */
/* Start-Nav-Bar */
nav {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}
nav .container {
    display: flex;
    justify-content: space-between;
}
nav .container input {
    width: 150px;
    padding: 7.5px 0 7.5px 30px;
    border: 1px solid black;
    border-radius: 6px;
}
nav::before {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    position: absolute;
    top: 23px;
    left: 23px;
    color: var(--text-color);
}
nav .container div {
    display: flex;
    align-items: center;
    gap: var(--container-gap);
    position: relative;
}
nav .container div::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: red;
    top: 5px;
    left: 20%;
}
nav .container div img {
    width: 30px;
}
/* End-Nav-Bar */
/* Start-Dashboard */
.dashboard .dashboard-content .container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--container-gap);
}
.dashboard .dashboard-content .container .box1 {
    width: calc((100% / 3) - 15px);
    background-color: white;
    position: relative;
    border-radius: 6px;
    padding-bottom: 60px;
}
.dashboard .dashboard-content .container .box1 .image {
    background-color: var(--main-color);
    display: flex;
    justify-content: flex-end;
    padding: 15px 15px 10px;
}
.dashboard .dashboard-content .container .box1 .image img {
    width: 130px;
}
.dashboard .dashboard-content .container .box1 .image2 {
    width: 45px;
    position: absolute;
    top: 70px;
    left: 15px;
    border: 3px solid white;
    border-radius: 50%;
}
.dashboard .dashboard-content .container .box1 .text {
    position: absolute;
    top: 10px;
    left: 15px;
}
.dashboard .dashboard-content .container .box1 .content {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 15px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.dashboard .dashboard-content .container .box1 .content div h4  {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}
.dashboard .dashboard-content .container .box1 .content div p {
    color: #888888;
    font-size: 12px;
}
.dashboard .dashboard-content .container .box1 a {
    position: absolute;
    right: 10px;
    background-color: #0075ff;
    color: white;
    padding: 4px 7px;
    font-size: 12px;
    border-radius: 3px;
}
.dashboard .dashboard-content .container .box2 {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}
.dashboard .dashboard-content .container .box2 form {
    display: flex;
    flex-direction: column;
    gap: var(--container-gap);
}
.dashboard .dashboard-content .container .box2 input {
    height: 30px;
    padding-left: 10px;
    border: 0;
    background-color: #eeeeee;
    border-radius: 6px;
    text-transform: capitalize;
    font-size: 13px;
}
.dashboard .dashboard-content .container .box2 textarea {
    height: 120px;
    border: 0;
    background-color: var(--main-color);
    border-radius: 6px;
    padding: 10px;
    text-transform: capitalize;
    font-size: 13px;
}
.dashboard .dashboard-content .container .box2 a {
    align-self: flex-end;
    background-color: #0075ff;
    color: white;
    padding: 4px 7px;
    font-size: 12px;
    border-radius: 3px;
}
.dashboard .dashboard-content .container .box3 {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}
.dashboard .dashboard-content .container .box3 .box3-content {
    display: flex;
    gap: var(--main-gap);
}
.dashboard .dashboard-content .container .box3 .box3-content i {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard .dashboard-content .container .box3 .box3-content:first-of-type i {
    background-color: #cce3ff;
    color: #0075ff;
}
.dashboard .dashboard-content .container .box3 .box3-content:nth-of-type(2) i {
    background-color: #fdecce;
    color: #f59e0b;
}
.dashboard .dashboard-content .container .box3 .box3-content:last-of-type i {
    background-color: #d3f3df;
    color: #22c55e;
}
.dashboard .dashboard-content .container .box3 .box3-content .details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-self: flex-end;
    width: calc(100% - 60px);
    padding-bottom: 5px;
}
.dashboard .dashboard-content .container .box3 .box3-content .details p {
    font-size: 10px;
    color: var(--text-color);
}
.dashboard .dashboard-content .container .box3 .box3-content .details h6 {
    font-size: 12px;
}
.dashboard .dashboard-content .container .box3 .box3-content .details .progress {
    height: 3px;
}
.dashboard .dashboard-content .container .box3 .box3-content .details .progress div {
    height: 100%;
    position: relative;
}
.dashboard .dashboard-content .container .box3 .box3-content:first-of-type .details .progress {
    background-color: #cce3ff;
}
.dashboard .dashboard-content .container .box3 .box3-content:first-of-type .details .progress div {
    width: 80%;
    background-color: #0075ff;
}
.dashboard .dashboard-content .container .box3 .box3-content:nth-of-type(2) .details .progress {
    background-color: #fdecce;
}
.dashboard .dashboard-content .container .box3 .box3-content:nth-of-type(2) .details .progress div {
    width: 55%;
    background-color: #f59e0b;
}
.dashboard .dashboard-content .container .box3 .box3-content:last-of-type .details .progress {
    background-color: #d3f3df;
}
.dashboard .dashboard-content .container .box3 .box3-content:last-of-type .details .progress div {
    width: 75%;
    background-color: #22c55e;
}
.dashboard .dashboard-content .container .box3 .box3-content .details .progress div::before {
    position: absolute;
    width: 25px;
    height: 15px;
    top: -25px;
    right: -12.5px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    color: white;
}
.dashboard .dashboard-content .container .box3 .box3-content .details .progress div::after {
    content: "";
    position: absolute;
    border: 5px solid;
    top: -10px;
    right: -5px;
}
.dashboard .dashboard-content .container .box3 .box3-content:first-of-type .details .progress div::before {
    content: "80%";
    background-color: #0075ff;
}
.dashboard .dashboard-content .container .box3 .box3-content:first-of-type .details .progress div::after {
    border-color: #0075ff transparent transparent transparent;
}
.dashboard .dashboard-content .container .box3 .box3-content:nth-of-type(2) .details .progress div::before {
    content: "55%";
    background-color: #f59e0b;
}
.dashboard .dashboard-content .container .box3 .box3-content:nth-of-type(2) .details .progress div::after {
    border-color: #f59e0b transparent transparent transparent;
}
.dashboard .dashboard-content .container .box3 .box3-content:last-of-type .details .progress div::before {
    content: "75%";
    background-color: #22c55e;
}
.dashboard .dashboard-content .container .box3 .box3-content:last-of-type .details .progress div::after {
    border-color: #22c55e transparent transparent transparent;
}
.dashboard .dashboard-content .container .box4 {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}
.dashboard .dashboard-content .container .box4 .box4-content {
    display: flex;
    flex-wrap: wrap;
    gap: var(--container-gap);
}
.dashboard .dashboard-content .container .box4 .box4-content div {
    width: calc((100% / 2) - 15px);
    border: 1px solid #cccccc;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 15px;
}
.dashboard .dashboard-content .container .box4 .box4-content div:first-child i {
    color: #f59e0b;
}
.dashboard .dashboard-content .container .box4 .box4-content div:nth-child(2) i {
    color: #0075ff;
}
.dashboard .dashboard-content .container .box4 .box4-content div:nth-child(3) i {
    color: #22c55e;
}
.dashboard .dashboard-content .container .box4 .box4-content div:last-child i {
    color: #f44336;
}
.dashboard .dashboard-content .container .box5 {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}
.dashboard .dashboard-content .container .box5 .box5-content {
    display: flex;
    flex-direction: column;
}
.dashboard .dashboard-content .container .box5 .box5-content .content {
    display: flex;
    gap: var(--main-gap);
    padding: 15px 0;
    position: relative;
}
.dashboard .dashboard-content .container .box5 .box5-content .content:not(:last-child) {
    border-bottom: 1px solid var(--main-color);
}
.dashboard .dashboard-content .container .box5 .box5-content .content::after {
    position: absolute;
    background-color: var(--main-color);
    padding: 4px 5px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 10px;
    border-radius: 4px;
}
.dashboard .dashboard-content .container .box5 .box5-content .content:first-child:after {
    content: "3 days ago";
}
.dashboard .dashboard-content .container .box5 .box5-content .content:nth-child(2):after {
    content: "5 days ago";
}
.dashboard .dashboard-content .container .box5 .box5-content .content:nth-child(3):after {
    content: "5 days ago";
}
.dashboard .dashboard-content .container .box5 .box5-content .content:last-child:after {
    content: "9 days ago";
}
.dashboard .dashboard-content .container .box5 .box5-content .content img {
    width: 60px;
    border-radius: 4px;
}
.dashboard .dashboard-content .container .box5 .box5-content .content .text h5 {
    margin-bottom: 5px;
}
.dashboard .dashboard-content .container .box5 .box5-content .content .text p {
    font-size: 11px;
    color: var(--text-color);
}
.dashboard .dashboard-content .container .box6 {
    display: flex;
    flex-direction: column;
}
.dashboard .dashboard-content .container .box6 .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.dashboard .dashboard-content .container .box6 .content:not(:last-child) {
    border-bottom: 1px solid var(--main-color);
}
.dashboard .dashboard-content .container .box6 .content:nth-of-type(4) {
    text-decoration: line-through;
    cursor: not-allowed;
    position: relative;
}
.dashboard .dashboard-content .container .box6 .content:nth-of-type(4)::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.655);
}
.dashboard .dashboard-content .container .box6 .content:nth-of-type(4) i {
    cursor: not-allowed;
}
.dashboard .dashboard-content .container .box6 .content .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.dashboard .dashboard-content .container .box6 .content .text p {
    font-size: 11px;
    color: var(--text-color);
}
.dashboard .dashboard-content .container .box6 .content a {
    color: black;
    transition: .1s;
}
.dashboard .dashboard-content .container .box6 .content:not(:nth-of-type(4)) a:hover {
    transform: scale(1.1);
}
.dashboard .dashboard-content .container .box7 {
    display: flex;
    flex-direction: column;
    gap: var(--box-gap);
}
.dashboard .dashboard-content .container .box7 .content {
    display: flex;
    justify-content: space-between;
}
.dashboard .dashboard-content .container .box7 .content .col1,
.dashboard .dashboard-content .container .box7 .content .col2 {
    display: flex;
    flex-direction: column;
    gap: var(--box-gap);
}
.dashboard .dashboard-content .container .box7 .content .col1 p:not(:first-child) {
    padding: 3px 0;
}
.dashboard .dashboard-content .container .box7 .content .col2 {
    align-items: flex-end;
}
.dashboard .dashboard-content .container .box7 .content .col1 p:first-child,
.dashboard .dashboard-content .container .box7 .content .col2 p {
    color: var(--text-color);
}
.dashboard .dashboard-content .container .box7 .content .col1 p,
.dashboard .dashboard-content .container .box7 .content .col2 p {
    font-size: 13px;
}
.dashboard .dashboard-content .container .box7 .content .col2 div {
    font-size: 13px;
    background-color: var(--main-color);
    padding: 3px 5px;
    border-radius: 4px;
}
.dashboard .dashboard-content .container .box8 {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}
.dashboard .dashboard-content .container .box8 .box8-content .content {
    padding: 10px 0;
    display: flex;
    gap: var(--main-gap);
    position: relative;
}
.dashboard .dashboard-content .container .box8 .box8-content .content::after {
    content: "2.9mb";
    position: absolute;
    font-size: 10px;
    padding: 4px 5px;
    background-color: var(--main-color);
    border-radius: 4px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    text-transform: uppercase;
}
.dashboard .dashboard-content .container .box8 .box8-content .content:not(:last-child) {
    border-bottom: 1px solid var(--main-color);
}
.dashboard .dashboard-content .container .box8 .box8-content .content img {
    width: 30px;
}
.dashboard .dashboard-content .container .box8 .box8-content .content .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.dashboard .dashboard-content .container .box8 .box8-content .content .text p:first-child {
    font-size: 12px;
}
.dashboard .dashboard-content .container .box8 .box8-content .content .text p:last-child {
    font-size: 10px;
    color: var(--text-color);
}
.dashboard .dashboard-content .container .box9 {
    display: flex;
    flex-direction: column;
    gap: var(--box-gap);
}
.dashboard .dashboard-content .container .box9 .box9-content {
    display: flex;
    flex-direction: column;
    gap: var(--box-gap);
}
.dashboard .dashboard-content .container .box9 .content {
    display: flex;
    align-items: center;
    gap: var(--main-gap);
}
.dashboard .dashboard-content .container .box9 .content .list-style {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    padding: 1px;
    border: 1px solid #0075ff;
    position: relative;
}
.dashboard .dashboard-content .container .box9 .content:not(:last-child) .list-style::after {
    content: "";
    position: absolute;
    width: 21px;
    height: 1.5px;
    background-color: #0075ff;
    bottom: -12px;
    right: -2.5px;
    transform: rotate(90deg);
}
.dashboard .dashboard-content .container .box9 .content .list-style div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #0075ff;
}
.dashboard .dashboard-content .container .box9 .content:nth-child(4) .list-style div {
    background-color: #b3d6ff;
}
.dashboard .dashboard-content .container .box9 .content:last-child .list-style div {
    background-color: transparent;
}
.dashboard .dashboard-content .container .box9 .content p {
    font-size: 13px;
}
.dashboard .dashboard-content .container .box10 {
    display: flex;
    flex-direction: column;
    gap: var(--box-gap);
}
.dashboard .dashboard-content .container .box10 .box10-content {
    display: flex;
    flex-direction: column;
    gap: var(--box-gap);
    padding-left: 30px;
}
.dashboard .dashboard-content .container .box10 .box10-content .content {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
    position: relative;
}
.dashboard .dashboard-content .container .box10 .box10-content .content::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.dashboard .dashboard-content .container .box10 .box10-content .content::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    left: -10px;
    top: 0;
}
.dashboard .dashboard-content .container .box10 .box10-content .content:first-of-type:before,
.dashboard .dashboard-content .container .box10 .box10-content .content:first-of-type:after {
    background-color: #0075ff;
}
.dashboard .dashboard-content .container .box10 .box10-content .content:nth-of-type(2):before,
.dashboard .dashboard-content .container .box10 .box10-content .content:nth-of-type(2):after {
    background-color: #22c55e;
}
.dashboard .dashboard-content .container .box10 .box10-content .content:nth-of-type(3):before,
.dashboard .dashboard-content .container .box10 .box10-content .content:nth-of-type(3):after {
    background-color: #f59e0b;
}
.dashboard .dashboard-content .container .box10 .box10-content .content:last-of-type:before,
.dashboard .dashboard-content .container .box10 .box10-content .content:last-of-type:after {
    background-color: #f44336;
}
.dashboard .dashboard-content .container .box10 .box10-content .content p {
    font-size: 12px;
    color: var(--text-color);
    font-weight: 600;
}
.dashboard .dashboard-content .container .box11 {
    display: flex;
    flex-direction: column;
    gap: var(--box-gap);
}
.dashboard .dashboard-content .container .box11 .box11-content {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}
.dashboard .dashboard-content .container .box11 .box11-content .content {
    display: flex;
    gap: var(--main-gap);
}
.dashboard .dashboard-content .container .box11 .box11-content .content img {
    width: 35px;
}
.dashboard .dashboard-content .container .box11 .box11-content .content .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.dashboard .dashboard-content .container .box11 .box11-content .content .text h5 {
    font-weight: 700;
}
.dashboard .dashboard-content .container .box11 .box11-content .content .text p {
    font-size: 14px;
    color: var(--text-color);
}
.dashboard .dashboard-content .container .box11 .box11-content .paragraph {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    padding: 10px 0;
    margin-bottom: 10px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.dashboard .dashboard-content .container .box11 .box11-content .social {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: var(--text-color);
}
.dashboard .dashboard-content .container .box11 .box11-content .social i {
    display: flex;
    gap: 5px;
    letter-spacing: 1.9px;
}
.dashboard .dashboard-content .container .box12 {
    display: flex;
    flex-direction: column;
    gap: var(--box-gap);
}
.dashboard .dashboard-content .container .box12 .box12-content {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}
.dashboard .dashboard-content .container .box12 .box12-content div {
    display: flex;
    align-items: center;
    gap: var(--main-gap);
    position: relative;
    font-size: 12px;
}
.dashboard .dashboard-content .container .box12 .box12-content div:first-child {
    background-color: #d2ecfc;
    color: #1da1f2;
}
.dashboard .dashboard-content .container .box12 .box12-content div:nth-child(2) {
    background-color: #d1e4fc;
    color: #1877f2;
}
.dashboard .dashboard-content .container .box12 .box12-content div:nth-child(3) {
    background-color: #ffcccc;
    color: red;
}
.dashboard .dashboard-content .container .box12 .box12-content div:last-child {
    background-color: #cce4f0;
    color: #0077b5;
}
.dashboard .dashboard-content .container .box12 .box12-content div i {
    width: 35px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.dashboard .dashboard-content .container .box12 .box12-content div:first-child i {
    background-color: #1da1f2;
}
.dashboard .dashboard-content .container .box12 .box12-content div:nth-child(2) i {
    background-color: #1877f2;
}
.dashboard .dashboard-content .container .box12 .box12-content div:nth-child(3) i {
    background-color: red;
}
.dashboard .dashboard-content .container .box12 .box12-content div:last-child i {
    background-color: #0077b5;
}
.dashboard .dashboard-content .container .box12 .box12-content div a {
    position: absolute;
    right: 10px;
    padding: 3px 5px;
    border-radius: 4px;
    color: white;
}
.dashboard .dashboard-content .container .box12 .box12-content div:first-child a {
    background-color: #1da1f2;
}
.dashboard .dashboard-content .container .box12 .box12-content div:nth-child(2) a {
    background-color: #1877f2;
}
.dashboard .dashboard-content .container .box12 .box12-content div:nth-child(3) a {
    background-color: red;
}
.dashboard .dashboard-content .container .box12 .box12-content div:last-child a {
    background-color: #0077b5;
}
.dashboard .dashboard-content .container .box13 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--box-gap);
}
.dashboard .dashboard-content .container .box13 table {
    border-collapse: collapse;
    font-size: 13px;
    font-weight: 500;
}
.dashboard .dashboard-content .container .box13 table thead {
    background-color: var(--main-color);
    font-weight: 800;
}
.dashboard .dashboard-content .container .box13 table tr td {
    border: 1px solid var(--main-color);
    padding: 10px;
}
.dashboard .dashboard-content .container .box13 table tbody tr td img {
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
}
.dashboard .dashboard-content .container .box13 table tbody tr td img:nth-child(2) {
    transform: translateX(-18px);
}
.dashboard .dashboard-content .container .box13 table tbody tr td img:nth-child(3) {
    transform: translateX(-35px);
}
.dashboard .dashboard-content .container .box13 table tbody tr td img:nth-child(4) {
    transform: translateX(-53px);
}
.dashboard .dashboard-content .container .box13 table tbody tr td a {
    color: white;
    font-size: 11px;
    padding: 0 7px;
    border-radius: 4px;
}
.dashboard .dashboard-content .container .box13 table tbody tr:first-child td a {
    background-color: #f59e0b;
}
.dashboard .dashboard-content .container .box13 table tbody tr:nth-child(2) td a {
    background-color: #0075ff;
}
.dashboard .dashboard-content .container .box13 table tbody tr:nth-child(3) td a,
.dashboard .dashboard-content .container .box13 table tbody tr:nth-child(4) td a,
.dashboard .dashboard-content .container .box13 table tbody tr:last-child td a {
    background-color: #22c55e;
}
.dashboard .dashboard-content .container .box13 table tbody tr:nth-child(5) td a {
    background-color: #f44336;
}
/* End-Dashboard */
/* Start-Settings */
.settings .container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--container-gap);
}
.settings .container .s-box1 {
    display: flex;
    flex-direction: column;
    gap: var(--box-gap);
}
.settings .container .s-box1 .text {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}
.settings .container .s-box1 .text p {
    font-size: 13px;
    color: var(--text-color);
}
.settings .container .s-box1 .toogle {
    display: flex;
    position: relative;
}
.settings .container .s-box1 .toogle .toogle-text {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}
.settings .container .s-box1 .toogle .toogle-text p {
    font-size: 13px;
    color: var(--text-color);
}
.settings .container .s-box1 .toogle i {
    align-self: center;
    position: absolute;
    right: 0;
    color: var(--settings-main-color);
}
.settings .container .s-box1 textarea {
    height: 130px;
    padding: 10px;
    font-size: 12px;
    border-radius: 5px;
    border-color: var(--text-color);
}
.settings .container .s-box2 {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}
.settings .container .s-box2 form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
}
.settings .container .s-box2 form label {
    color: var(--text-color);
}
.settings .container .s-box2 form input {
    margin-bottom: 5px;
    padding: 7px 5px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
}
.settings .container .s-box2 form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}
.settings .container .s-box2 form div input {
    width: 80%;
}
.settings .container .s-box2 form div::after {
    content: "change";
    position: absolute;
    color: var(--settings-main-color);
    right: 10px;
    top: 50%;
    cursor: pointer;
}
.settings .container .s-box3 {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}
.settings .container .s-box3 .content {
    display: flex;
    padding-bottom: 20px;
    position: relative;
}
.settings .container .s-box3 .content:not(:last-child) {
    border-bottom: 1px solid var(--main-color);
}
.settings .container .s-box3 .content .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.settings .container .s-box3 .content .text h5 {
    font-size: 13px;
    font-weight: normal;
}
.settings .container .s-box3 .content .text p {
    font-size: 11px;
    color: var(--text-color);
}
.settings .container .s-box3 .content a,
.settings .container .s-box3 .content i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.settings .container .s-box3 .content:first-of-type a {
    padding: 4px 5px;
    color: white;
    background-color: var(--settings-main-color);
    border-radius: 4px;
    font-size: 12px;
}
.settings .container .s-box3 .content:nth-of-type(2) i {
    color: var(--settings-main-color);
}
.settings .container .s-box3 .content:last-of-type a {
    padding: 4px 5px;
    color: black;
    background-color: var(--main-color);
    border-radius: 4px;
    font-size: 12px;
}
.settings .container .s-box4 {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}
.settings .container .s-box4 .box-heading + p {
    margin-bottom: 5px;
}
.settings .container .s-box4 div {
    display: flex;
    align-items: center;
    gap: var(--main-gap);
    background-color: #f6f6f6;
    border: 1px solid #dddddd;
    border-radius: 6px;
    color: #888888;
    font-size: 12px;
}
.settings .container .s-box4 div i {
    padding-right: 5px;
    border-right: 1px solid #dddddd;
    padding: 8px;
}
.settings .container .s-box5 {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}
.settings .container .s-box5 form {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
    font-size: 13px;
}
.settings .container .s-box5 form div {
    display: flex;
    gap: 5px;
}
.settings .container .s-box5 form div input,
.settings .container .s-box5 form div label {
    cursor: pointer;
}
.settings .container .s-box6 {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}
.settings .container .s-box6 form {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
    border-bottom: 1px solid var(--main-color);
    font-size: 14px;
}
.settings .container .s-box6 form div {
    display: flex;
    gap: 5px;
}
.settings .container .s-box6 form div input,
.settings .container .s-box6 form div label {
    cursor: pointer;
}
.settings .container .s-box6 .bars {
    display: flex;
    gap: 5px;
}
.settings .container .s-box6 .bars div {
    width: calc((100% / 3) - 5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--main-gap);
    padding: 10px 0 5px;
    border: 2px solid var(--main-color);
    border-radius: 6px;
    font-size: 13px;
}
.settings .container .s-box6 .bars div:nth-child(2) {
    border-color: var(--settings-main-color);
    color: var(--settings-main-color);
}
/* End-Settings */
/* Start-Pofile */
.profile {
    text-transform: capitalize;
}
.profile .container {
    display: grid;
    gap: var(--container-gap);
    grid-template-areas: 
    "p-box1 p-box1 p-box1 p-box1 p-box1 p-box1"
    "p-box2 p-box2 p-box3 p-box3 p-box3 p-box3";
}
.profile .container .p-box1 {
    grid-area: p-box1;
    display: flex;
}
.profile .container .p-box1 .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--main-gap);
    padding: 20px 30px;
    border-right: 1px solid var(--main-color);
}
.profile .container .p-box1 .info img {
    width: 80px;
}
.profile .container .p-box1 .info h5 {
    font-size: 16px;
}
.profile .container .p-box1 .info p {
    font-size: 13px;
    color: var(--text-color);
    font-weight: 600;
}
.profile .container .p-box1 .info .out {
    position: relative;
    height: 5px;
    width: 100%;
    border-radius: 6px;
    background-color: var(--main-color);
}
.profile .container .p-box1 .info .out div {
    position: absolute;
    height: 100%;
    width: 70%;
    top: 0;
    border-radius: 6px;
    background-color: var(--settings-main-color);
}
.profile .container .p-box1 .info i {
    color: #f59e0b;
}
.profile .container .p-box1 .details .data {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    padding: 10px 20px;
}
.profile .container .p-box1 .details .data:not(:last-child) {
    border-bottom: 1px solid var(--main-color);
}
.profile .container .p-box1 .details .data .general {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
    width: 180px;
}
.profile .container .p-box1 .details .data .general + p {
    width: 240px;
}
.profile .container .p-box1 .details .data .general + p + p {
    width: 150px;
}
.profile .container .p-box1 .details .data p {
    font-size: 13px;
    color: var(--text-color);
}
.profile .container .p-box1 .details .data p span {
    color: black;
}
.profile .container .p-box1 .details .data i {
    margin-bottom: 7px;
    color: var(--settings-main-color);
    cursor: pointer;
}
.profile .container .p-box1 .details .data:nth-child(2) i,
.profile .container .p-box1 .details .data:last-child i {
    color: #cccccc;
    transform: rotate(180deg);
}
.profile .container .p-box2 {
    grid-area: p-box2;
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}
.profile .container .p-box2 .skills div {
    padding: 10px 0;
    border-bottom: 1px solid var(--main-color);
    display: flex;
    gap: 5px;
}
.profile .container .p-box2 .skills div p {
    padding: 3px 5px;
    font-size: 13px;
    background-color: var(--main-color);
    border-radius: 4px;
}
.profile .container .p-box3 {
    grid-area: p-box3;
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}
.profile .container .p-box3 .content {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    position: relative;
    font-size: 12px;
    font-weight: 500;
}
.profile .container .p-box3 .content:not(:last-child) {
    border-bottom: 1px solid var(--main-color);
}
.profile .container .p-box3 .content img {
    width: 40px;
}
.profile .container .p-box3 .content .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.profile .container .p-box3 .content .time {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}
.profile .container .p-box3 .content .time p:first-child {
    align-self: flex-end;
}
.profile .container .p-box3 .content .text p:last-child,
.profile .container .p-box3 .content .time p:last-child {
    color: var(--text-color);
}
/* End-Pofile */
/* Start-Projects */
.projects .container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--container-gap);
}
.projects .container .box {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
    position: relative;
}
.projects .container .box::before {
    content: "15/06/2022";
    position: absolute;
    top: 10px;
    right: 15px;
    color: var(--text-color);
    font-size: 11px;
    font-weight: 600;
}
.projects .container .box:first-child::before {
    content: "15/10/2022";
}
.projects .container .box h5 {
    font-weight: 600;
}
.projects .container .box h5 + p {
    font-size: 12px;
    color: var(--text-color);
    font-weight: 600;
}
.projects .container .box .images {
    padding: 20px 0 10px;
    border-bottom: 1px solid var(--main-color);
}
.projects .container .box .images img {
    width: 30px;
    border-radius: 50%;
    border: 2px solid white;
}
.projects .container .box .images img:nth-child(2) {
    transform: translateX(-15px);
}
.projects .container .box .images img:nth-child(3) {
    transform: translateX(-30px);
}
.projects .container .box .images img:nth-child(4) {
    transform: translateX(-45px);
}
.projects .container .box .images img:nth-child(5) {
    transform: translateX(-60px);
}
.projects .container .box .text {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main-color);
}
.projects .container .box .text p {
    padding: 3px 5px;
    background-color: var(--main-color);
    border-radius: 5px;
    font-size: 11px;
}
.projects .container .box .progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects .container .box .progress .out {
    width: 50%;
    height: 5px;
    border-radius: 6px;
    background-color: var(--main-color);
}
.projects .container .box .progress .out div {
    height: 100%;
    border-radius: 6px;
}
.projects .container .box:first-child .progress .out div,
.projects .container .box:nth-child(6) .progress .out div {
    background-color: #f44336;
}
.projects .container .box:nth-child(3) .progress .out div {
    background-color: #0075ff;
}
.projects .container .box:nth-child(2) .progress .out div,
.projects .container .box:nth-child(4) .progress .out div,
.projects .container .box:nth-child(5) .progress .out div,
.projects .container .box:nth-child(7) .progress .out div,
.projects .container .box:nth-child(8) .progress .out div,
.projects .container .box:last-child .progress .out div {
    background-color: #22c55e;
}
.projects .container .box:first-child .progress .out div {
    width: 50%;
}
.projects .container .box:nth-child(2) .progress .out div {
    width: 80%;
}
.projects .container .box:nth-child(3) .progress .out div {
    width: 100%;
}
.projects .container .box:nth-child(4) .progress .out div {
    width: 55%;
}
.projects .container .box:nth-child(5) .progress .out div {
    width: 70%;
}
.projects .container .box:nth-child(6) .progress .out div {
    width: 40%;
}
.projects .container .box:nth-child(7) .progress .out div,
.projects .container .box:nth-child(8) .progress .out div {
    width: 60%;
}
.projects .container .box:last-child .progress .out div {
    width: 90%;
}
.projects .container .box .progress p {
    font-size: 11px;
    color: var(--text-color);
    font-weight: 700;
}
/* End-Projects */
/* Start-Courses */
.courses .container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--container-gap);
}
.courses .container .c-box {
    display: flex;
    flex-direction: column;
}
.courses .container .c-box img:first-child {
    max-width: 100%;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.courses .container .c-box h4 {
    padding: 15px;
    font-size: 12px;
    font-weight: 800;
}
.courses .container .c-box h4 + p {
    padding: 0 15px 80px;
    font-size: 11px;
    color: var(--text-color);
    line-height: 1.4;
    font-weight: 600;
    border-bottom: 1px solid var(--main-color);
    height: 0;
}
.courses .container .c-box a {
    width: fit-content;
    padding: 3px 5px;
    border-radius: 4px;
    font-size: 11px;
    background-color: var(--settings-main-color);
    color: white;
    position: absolute;
    bottom: 33px;
    right: 50%;
    transform: translateX(50%);
}
.courses .container .c-box div {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 10px;
    color: var(--text-color);
}
.courses .container .c-box div i {
    letter-spacing: 1.5px;
    font-size: 8px;
}
.courses .container .c-box .avatar {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid white;
}
/* End-Courses */
/* Start-Friends */
.friends .container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.friends .container .f-box .front {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main-color);
}
.friends .container .f-box .front div {
    align-self: flex-start;
    font-size: 11px;
}
.friends .container .f-box .front div i {
    background-color: var(--main-color);
    padding: 7px;
    border-radius: 50%;
    color: #666666;
    cursor: pointer;
}
.friends .container .f-box img {
    width: 70px;
    border-radius: 50%;
}
.friends .container .f-box .front h5 {
    font-weight: 700;
    font-size: 15px;
}
.friends .container .f-box .front p {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
}
.friends .container .f-box .details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 13px;
    font-weight: 600;
    padding: 15px 0;
    border-bottom: 1px solid var(--main-color);
}
.friends .container .f-box .details p i {
    margin-right: 10px;
}
.friends .container .f-box .back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    font-size: 10px;
}
.friends .container .f-box .back p {
    color: var(--text-color);
}
.friends .container .f-box .back a {
    height: fit-content;
    padding: 0 5px;
    border-radius: 4px;
    color: white;
}
.friends .container .f-box .back a:first-of-type {
    background-color: var(--settings-main-color);
}
.friends .container .f-box .back a:last-child {
    background-color: red;
}
/* End-Friends */
/* Start-Files */
.files .container {
    display: flex;
}
.files .container .all-files {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 83%;
}
.files .container .all-files .fi-box {
    width: calc((100% / 6) - 15px);
    background-color: white;
    position: relative;
    border-radius: 6px;
    padding: 10px;
}
.files .container .all-files .fi-box div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main-color);
}
.files .container .all-files .fi-box div:first-child i {
    align-self: flex-start;
    color: #888888;
    cursor: pointer;
}
.files .container .all-files .fi-box div:first-child img {
    width: 50px;
}
.files .container .all-files .fi-box div:first-child p:first-of-type {
    font-size: 14px;
    font-weight: 600;
    text-transform: none;
}
.files .container .all-files .fi-box div:first-child p:nth-of-type(2) {
    align-self: flex-start;
    font-size: 13px;
    color: var(--text-color);
}
.files .container .all-files .fi-box div:last-child {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0;
    font-size: 12px;
    color: var(--text-color);
    font-weight: 600;
}
.special-box {
    width: 17%;
    height: fit-content;
    background-color: white;
    position: relative;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}
.special-box .file {
    padding: 10px;
    border: 1px solid var(--main-color);
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: var(--main-gap);
    position: relative;
}
.special-box .file::after {
    position: absolute;
    right: 7px;
    color: var(--text-color);
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}
.special-box .file:first-of-type::after {
    content: "6.5mb";
}
.special-box .file:nth-of-type(2)::after {
    content: "3.5mb";
}
.special-box .file:nth-of-type(3)::after {
    content: "3.2mb";
}
.special-box .file:nth-of-type(4)::after {
    content: "2.9mb";
}
.special-box .file i {
    padding: 10px;
}
.special-box .file:first-of-type i {
    background-color: #cce3ff;
    color: var(--settings-main-color);
}
.special-box .file:nth-of-type(2) i {
    background-color: #d3f3df;
    color: #55c55e;
}
.special-box .file:nth-of-type(3) i {
    background-color: #fdd9d7;
    color: #f44336;
}
.special-box .file:nth-of-type(4) i {
    background-color: #fdecce;
    color: #f59e0b;
}
.special-box .file .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 11px;
    font-weight: 600;
}
.special-box .file .text p:last-child {
    color: var(--text-color);
}
.special-box a {
    align-self: center;
    font-size: 12px;
    color: white;
    padding: 8px 10px;
    background-color: var(--settings-main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--main-gap);
    border-radius: 5px;
}
/* End-Files */
/* Start-Plans */
.plans .container {
    display: flex;
    gap: 15px;
}
.plans .container .box {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}
.plans .container .box div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 85px;
    border: 2px solid white;
    color: white;
}
.plans .container .box:first-child div:first-child {
    background-color: #22c55e;
    outline: 2px solid #22c55e;
}
.plans .container .box:nth-child(2) div:first-child {
    background-color: var(--settings-main-color);
    outline: 2px solid var(--settings-main-color);
}
.plans .container .box:nth-child(3) div:first-child {
    background-color: #f59e0b;
    outline: 2px solid #f59e0b;
}
.plans .container .box div:first-child h5 {
    font-size: 18px;
    font-weight: 700;
}
.plans .container .box div:first-child p {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.plans .container .box div:first-child p::before {
    content: "$";
    position: absolute;
    top: 0;
    left: -12px;
    font-size: 16px;
}
.plans .container .box div:last-child {
    display: flex;
    flex-direction: column;
}
.plans .container .box div:last-child p {
    padding: 10px 0;
    font-size: 12px;
    font-weight: 600;
}
.plans .container .box div:last-child p:not(:nth-child(10)) {
    border-bottom: 1px solid var(--main-color);
}
.plans .container .box div:last-child p:nth-child(10) {
    align-self: center;
    color: var(--text-color);
}
.plans .container .box div:last-child p i {
    margin-right: 10px;
}
.plans .container .box div:last-child p .fa-check {
    color: #22c55e;
}
.plans .container .box div:last-child p .fa-xmark {
    color: #f44336;
}
.plans .container .box div:last-child p span {
    text-transform: uppercase;
}
.plans .container .box div:last-child a {
    width: fit-content;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #22c55e;
    color: white;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
}
.plans .container .box:nth-child(2) div:last-child a {
    background-color: var(--settings-main-color);
}
/* End-Plans */